#markerMap {
    height: 600px;
    width: 1200px;
    padding-bottom: 1cm;
}

#crimeRateHeatMap {
    height: 600px;
    width: 640px;
    padding-bottom: 1cm;
}

#crimeWeightHeatMap {
    height: 600px;
    width: 640px;
    padding-bottom: 1cm;
}

#groupAMap {
    height: 600px;
    width: 640px;
}

#groupBMap {
    height: 600px;
    width: 640px;
}

#pac-input {
    margin-right: 50px;
    padding: 0 5px 0 13px;
    width: 200px;
    height: 30px;
}

.inline-block-child {
    display: inline-block;
  }