* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#markerMap {
    height: 610px;
    width: 1000px;
    padding-bottom: 1cm;
}

#crimeRateHeatMap {
    height: 600px;
    width: 640px;
    padding-bottom: 1cm;
}

#crimeWeightHeatMap {
    height: 600px;
    width: 640px;
    padding-bottom: 1cm;
}

#groupAMap {
    height: 600px;
    width: 640px;
}

#groupBMap {
    height: 600px;
    width: 640px;
}

#search-bar {
    margin-right: 50px;
    padding: 0 3px 0 13px;
    width: 300px;
    height: 30px;
    border-width: 2px;
    border-radius: 2px;
}

#search-bar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#reset-map-button {
    margin-right: 50px;
    padding: 0 5px 3px 5px;
    width: 150px;
    height: 30px;
    background-color:rgb(241, 229, 206);
    border-radius: 6px;
    font-size: medium;
    cursor: pointer;
}
#reset-map-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#change-radius {
    padding: 2px 5px 5px 5px;
    background-color:rgb(241, 229, 206);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    font-size: medium;
}

#radius {
    width: 100px;
    margin-top: 3px;
    font-size:14px;
    margin-left: 3px;
    margin-right: 10px;
}

#custom-radius {
    background-color:rgb(241, 229, 206);
    font-size: medium;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 2px 5px 5px 5px;
    text-align: center;
    margin-right: 10px;
}

#radius-slider {
    -webkit-appearance: slider-vertical;
    height: 200px;
    width: 10px;
}


.inline-block-child {
    display: inline-block;
  }